<nav>
  <!-- <a routerLink="/mainmenu" routerLinkActive="active" ariaCurrentWhenActive="page">MainMenu</a> -->
  <!-- <a routerLink="/charactor-selector" routerLinkActive="active" ariaCurrentWhenActive="page">Play</a> 

  <a class="routebutton" routerLink="/charactor-selector" routerLinkActive="active" ariaCurrentWhenActive="page">Play</a> <br>
  <a class="routebutton" routerLink="/options" routerLinkActive="active" ariaCurrentWhenActive="page">Option</a><br>
  <a class="routebutton" routerLink="/You can't leave" routerLinkActive="active" ariaCurrentWhenActive="page">Exit</a><br> -->
</nav>

<router-outlet></router-outlet>